{:paths ["src"]
 :deps {borkdude/edamame {:mvn/version "1.0.16"}}
 :aliases
 {:dev
  {:extra-deps
   {io.github.matthewdowney/rich-comment-tests
    #_{:local/root "../rich-comment-tests"}
    {:git/tag "v0.0.3" :git/sha "dc4e412"}}}
  :run {:exec-fn town.lilac.mogget/run-file!}}}
