{:paths ["src"]
 :deps {borkdude/edamame {:mvn/version "1.0.16"}}
 :aliases
 {:dev
  {:extra-deps
   {io.github.matthewdowney/rich-comment-tests
    #_{:git/tag "v0.0.2" :git/sha "7c673a3"}
    {:local/root "../rich-comment-tests"}}}}}
